
.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.xps {
    display: flex;
    flex-direction: column;
}
.xp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}
.xp:nth-child(odd) {
    flex-direction: row-reverse;
    @media screen and (min-width: 1500px) {
      margin-left: 620px;  
    }
    
}
.xp:nth-child(even) {
    @media screen and (min-width: 1500px) {
      margin-right: 620px;  
    }
    
}
.xpDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px 5px;
    width: 300px;
    @media screen and (min-width: 580px) {
       width: 400px;  
      }
    @media screen and (min-width: 1360px) {
       width: 600px;  
      }
     /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 6px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(255, 255, 255, 0.28);
}
.meImage {
    width: 200px;
    padding: 34px;
    @media screen and (min-width: 580px) {
        width: 400px;  
       }
     @media screen and (min-width: 1360px) {
        width: 600px;  
       }
}

.xpImage {
    border-radius: 50%;
    width: 150px;
    border: 5px solid var(--color-1);
    @media screen and (min-width: 580px) {
        width: 300px;  
      }
}